body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #003399;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  padding: 20px;
  text-align: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.veiculo {
  max-width: 100%;
  height: auto;
}

.video {
  width: 100%;
  max-width: 600px;
}

.imagens img {
  width: 32%;
  margin: 20%;
}

table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #003399;
}

th, td {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #003399;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  background-color: #0055cc;
}

.logo {
  width: 50px;
  min-width: 130px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}